@model QuanLyGiangDay.Models.EF.TaiKhoan

<div class="modal-header">
    <h5 class="modal-title">Khôi phục mật khẩu</h5>

    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
        ×
    </button>


</div>
<div class="modal-body">
    <h3>Bạn có chắc muốn khôi phục mật khẩu cho tài khoản này không?</h3>
    <div>

        <dl class="dl-horizontal">
            <dt>
                Tên đăng nhập
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TenDN)
            </dd>

            <dt>
                Mã giáo viên
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MaGV)
            </dd>

            <dt>
                Họ và tên
            </dt>

            <dd>
                @Html.DisplayFor(model => model.HoTen)
            </dd>

            <dt>
                Vai trò
            </dt>

            <dd>
                @Html.DisplayFor(model => model.VaiTro.TenVT)
            </dd>

        </dl>
    </div>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="modal-footer">
        <button class="btn btn-secondary" data-dismiss="modal">Đóng</button>
        <input type="submit" value="Khôi phục" class="btn btn-primary" />
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
