@model QuanLyGiangDay.Controllers.MonHocHocKyModel

@* model header *@
<div class="modal-header">
    <h5 class="modal-title">Môn học đã mở của @ViewBag.LopHoc</h5>

    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
        ×
    </button>
    
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="modal-body">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="danhSachLopHoc" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>
                                Học kỳ
                            </th>
                            <th>
                                Môn học
                            </th>
                            <th>
                                Ngày bắt đầu
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        @if (ViewBag.EmptyData == true )
                        {
                            <tr class="c-tr-body">
                                <td colspan="100" class="text-center">Chưa có môn học cho lớp này</td> 
                            </tr>
                        }
                        else
                        {

                            foreach (var item in ViewBag.MHHK)
                            {
                                <tr class="c-tr-body">
                                    <td>
                                        @item.MaHK
                                    </td>
                                    <td>
                                        @item.MaMH
                                    </td>
                                    <td>
                                        @item.NgayBD
                                    </td>

                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>

        
    </div>
    <div class="modal-footer">
        
        <button class="btn btn-default btn-secondary" data-dismiss="modal">Đóng</button>
    </div>
}




