@model QuanLyGiangDay.Models.EF.MonHoc

<div class="modal-header">
    <h5 class="modal-title">Cập nhật môn học</h5>

    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
        ×
    </button>


</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="modal-body">
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.MaMH)

            <div class="form-group">
               
                <div class="col-md-10">
                    Tên môn học
                    @Html.EditorFor(model => model.TenMon, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TenMon, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
              
                <div class="col-md-10">
                    Mô tả
                    @Html.EditorFor(model => model.MoTa, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.MoTa, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                
                <div class="col-md-10">
                    Số giờ
                    @Html.EditorFor(model => model.SoGio, new { htmlAttributes = new { @class = "form-control", @type = "number" } })
                    @Html.ValidationMessageFor(model => model.SoGio, "", new { @class = "text-danger" })
                </div>
            </div>

        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-secondary" data-dismiss="modal">Đóng</button>
        <input type="submit" value="Lưu" class="btn btn-primary" />
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
