@model IEnumerable<QuanLyGiangDay.Models.EF.MonHoc>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section AddToHead{
    <link href="@Url.Content("~/Content/_share/css/HocKy/HocKy.css")" rel="stylesheet" type="text/css" />
}

<div class="panel-group">
    <div class="panel panel-primary">
        <div class="panel-heading"><h4><i class="fa fa-angle-right"></i> Quản lý môn học</h4></div>
        <div class="panel-body">
            <div class="float-left" style="margin-left: 30px; z-index: 99; position: relative; ">
                <div>
                    <a class="btn btn-primary" data-modal="" href="/MonHocs/_PartialCreate"
                       id="btnCreate">
                        <span class="fa fa-plus-circle"></span>
                        &nbsp;&nbsp;Thêm môn học
                    </a>
                </div>
            </div>
            <div class="float-right" style="padding-bottom: 10px; padding-right: 28px; z-index: 99; position: relative;">

            </div>
            <div class="col-md-12">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>
                                        Mã môn
                                    </th>
                                    <th>
                                        Tên môn
                                    </th>
                                    <th>
                                        Số giờ
                                    </th>
                                    <th>
                                        Mô tả
                                    </th>
                                    <th class="no-sorting">
                                        Chi tiết
                                    </th>
                                    <th class="no-sorting">
                                        Cập nhật
                                    </th>
                                    <th class="no-sorting">
                                        Xóa
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr class="c-tr-body">
                                        <td>
                                            @Html.DisplayFor(modelItem => item.MaMH)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TenMon)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.SoGio)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.MoTa)
                                        </td>
                                        <td>
                                            @Html.Raw("<a data-modal='' href='/MonHocs/_PartialDetail/" + item.MaMH + "' id='" + item.MaMH + "' title='Chi tiết'> <span class='fa fa-info-circle'> </span>  </a>")
                                        </td>
                                        <td>
                                            @Html.Raw("<a data-modal='' href='/MonHocs/_PartialEdit/" + item.MaMH + "' id='" + item.MaMH + "' title='Cập nhật'> <span class='fa fa-edit'> </span>  </a>")

                                        </td>
                                        <td>
                                            @Html.Raw("<a style='color: #e74a3b;' data-modal='' href='/MonHocs/_PartialDelete/" + item.MaMH + "' id='" + item.MaMH + "' title='Xóa'> <span class='fa fa-trash'> </span> </a>")
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- modal placeholder-->
<div id='myModal' class='modal fade in'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>
@section scripts{
    @Scripts.Render("~/scripts/myScript.js")
}


<script src="~/Content/_custom/datatables.js"></script>
<script>
@*    window.onload = function () {
        changLoading(true);
    }*@
</script>